.header{
    height: 34vw;
    width: 30px auto;
    background: url('/header_img.png')no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5 vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3.5s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    font-size: 1vw;
    color: white;
    padding: 1vw;
}
.header-contents button{
    border: none;
    font-weight: 400;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,1.3vw);
    border-radius: 50px;
}